Add a link to media for an assignment.
<form action="/add_media_link">

  <select name="assignment_id">
    <% Assignment.all_as_objects.each do |member| %>
    
      <option value="<%= member.id %>"><%= member.name %></option>
    <% end %>
  </select>
  <input type="text" placeholder="Enter Media Link" name ="medialink">
  <br> 
  <input type="submit">
</form>  
     