Add a new group that has worked on an assignment.
<form action="/group_project">

  Enter group member names separated by commas.
  <input type="text" placeholder="Enter Group Members" name ="members">
  <br> 
  <input type="submit">
</form>  