<!doctype html>
<html>
  <head>
    <title>Assignment API</title>
    <link rel="stylesheet" href="global.css">
    
  </head>
  
  <body>
    <div class="list1">
      <ul>
     
        <li><a href="/add_assignment_form">Add an assignment</a></li>
        <li><a href="/add_media_link_form">Add a article or video link to an assignment</a></li>
        <li><a href="/group_project_form">Add a new group who worked on an assignment</a></li>
        <li><a href="/single_assignment_form">Pick a single assignment to get API information for</a></li>
        <li><a href="/api/assignments">View API list of assignments</a></li>
      </ul>
    </div>
    
    <script type="text/javascript" src="global.js"></script>
  </body>
</html>